# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
env/
*.env

# Development tools
.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

# Node.js modules (if any)
node_modules/

# Test-related files
tests/
test/
*.log

# Docker related files
Dockerfile*
.dockerignore

# Git-related files
.git/
.gitmodules
.gitconfig
.gitignore

# Secrets and sensitive files
*.env
